<div class="jumbotron" style="text-align: center; width: 50%; margin: auto; padding: 30px;">
  <h1>BlockVote Control Panel</h1>
  <hr>
  <h3>Create a New Poll Poll</h3>
  <a class="btn btn-primary" role="button" href="newvote">Create a New Poll</a>
  <hr>
  <h3>Vote on Existing Poll</h3>
  <div>
    <input type="text" name="pollID" placeholder="Poll ID" style="margin-bottom: 10px;"></input>
    <br>
    <a class="btn btn-primary" role="button" href="#">Go To Poll</a>
  </div>
</div>
