<div class="jumbotron" style="text-align: center; width: 50%; margin: auto; padding: 30px;">
  <h1>BlockVote Control Panel</h1>
  <hr>
  <h3>Create a New Poll Poll</h3>
  <a class="btn btn-primary" role="button" href="newpoll">Create a New Poll</a>
  <hr>
  <h3>Vote on Existing Poll</h3>
  <div id="joinpoll">
    <input type="text" v-model="pollID" placeholder="Poll ID" style="margin-bottom: 10px; text-align: center"></input>
    <br>
    <a class="btn btn-primary" role="button" v-bind:href="pollLink()">Go To Poll</a>
  </div>
</div>

<script type="text/javascript">
  var app = new Vue({
      el: "#joinpoll",
      data: {pollID: ""},
      methods: {
        pollLink: function(){
          if(this.pollID == ""){
            return "#"
          }
          return "vote/"+this.pollID
        }
      }
  });
</script>
