<div style="text-align: center">
  <h1>Welcome to BlockVote</h1>
  <br>
  {{#if isAdmin}}<b>Admin Mode Enabled</b>{{/if}}
  <hr style="margin-bottom: 100px;">
  <div class="jumbotron" style="width: 50%; margin: auto; padding: 30px;">
    <form action="/api/castvote">
      Voter ID:
      <br>
      <input type="text" name="voterid" style="text-align: center; margin-top: 8px;"></input>
      <hr>
      {{#each voteopts}}
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="vote" value="{{this}}">
            Vote for {{this}}
          </label>
        </div>
      {{/each}}
      <br>
      <input type="hidden" name="pollid" value="{{pollID}}">
      <button class="btn btn-primary" type="submit">Submit Vote</button>
    </form>
  </div>
</div>
